login-page {
    h2 {
        color: map-get($colors, light);
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 2.3em;
    }

    p {
        color: map-get($colors, light)
    }

    ion-label, .select-text {
        color: map-get($colors, light);
    }

    ion-input, ion-select, ion-textarea {
        color: map-get($colors, light);
    }

    .login-item {
        color: map-get($colors, light);
        font-weight: 700;
        background-color: transparent;
        font-size: 1.5em;
    }

    .invalid {
        color: map-get($colors, danger);
    }

    .card-background-page {
        background-image: url('../../assets/images/login-torre.jpg');
        // background: url('../../img/getstart.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

}