<ion-header>
  <ion-navbar>
    <ion-title>Agenda</ion-title>
    <ion-buttons end *ngIf="events?.length > 10"> <!-- should be > 1 but switching event won't work unless joining a new room inplies leaving the previous one' -->
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-card *ngIf="!event">
  <ion-card-header>
    Warning
  </ion-card-header>
  <ion-card-content>
    <p>No events were selected!</p>
    <p>Click on the button to select one.</p>
  </ion-card-content>
  <ion-row>
    <ion-col>
    <button ion-button full (click)="stateService.getEventsForToday()">Select event</button>
    </ion-col>
  </ion-row>
  </ion-card>

  <agenda [agenda]="agenda" [title]="'My title'" [event]="event">
  </agenda>

</ion-content>
