<ion-item>
  <ion-label floating>Message</ion-label>
  <ion-input type="text" [(ngModel)]="message"></ion-input>
</ion-item>

<div padding>
  <button ion-button color="primary" (click)="sendMessage()" block>Send</button>
</div>

<ion-card>
  <ion-card-header>
    Question
  </ion-card-header>

  <ion-card-content *ngIf="lastQuestion">
    <p>{{lastQuestion.data}}</p>
  </ion-card-content>

  <ion-list radio-group>
    <ion-list-header>
      Answers
    </ion-list-header>

    <ion-item>
      <ion-label>Go</ion-label>
      <ion-radio checked="true" value="go"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Rust</ion-label>
      <ion-radio value="rust"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Python</ion-label>
      <ion-radio value="python" disabled="false"></ion-radio>
    </ion-item>
  </ion-list>


  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>

<ion-list>
  <ion-item *ngFor="let question of questions">{{question}}</ion-item>
</ion-list>
