<ion-card *ngIf="!currentQuestion">
  <ion-card-header>
    Question
  </ion-card-header>
  <ion-card-content>
    <p>No questions received yet</p>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="currentQuestion">
  <ion-card-header>
    Question
  </ion-card-header>

  <ion-card-content>
    <p>{{currentQuestion.question}}</p>
  </ion-card-content>

  <ion-list radio-group  [(ngModel)]="currentAnswer" (ionChange)="currentAnswerChanged()">
    <ion-list-header>
      Answers
    </ion-list-header>

    <ion-item *ngFor="let choice of currentQuestion.choices; let i = index">
      <ion-label>{{choice}}</ion-label>
      <ion-radio value="{{i}}" [disabled]="currentAnswerSubmitted()"></ion-radio>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" [disabled]="!answerReady()" (click)="submitAnswer()" block>Submit</button>
  </div>

  <ion-row *ngIf="currentQuestion">
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{pastQuestions.length}} Questions so far</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>

<!--<ion-list *ngIf="pastQuestions && pastQuestions.length > 0">-->
<ion-list *ngIf="stateService.pastQuestions">

  <ion-list-header >
  Previous questions
  </ion-list-header>

  <ion-item *ngFor="let question of stateService.pastQuestions | async">
    <p>{{question.question}}</p> 
    <p>{{question.choices[question.submittedAnswer]}}</p>
  </ion-item>
</ion-list>
